@import url('https://fonts.cdnfonts.com/css/dinpro-bold');
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'DINPro-Bold', sans-serif;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

:root {
  font-family: inherit;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --primary-color: #131313;
  background-color: #FFF;
  --secondary-color-light: #DBDBDB;
  --secondary-color: #a8a8a8;
  --background-color: #f4f4f4; 
  --link-color: var(--secondary-color); 


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: inherit;
  transition: color 0.25s ease-in-out;
  /* -webkit-text-stroke: 1px var(--primary-color);
  text-stroke: 1px var(--primary-color); */
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media all and (max-width: 960px) {
 * {
    font-size: 15px;
  }
}

@media all and (max-width: 730px) {
 * {
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
 * {
    font-size: 13px;
  }
}
