.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  padding: .5rem 1rem;
  width: 100%;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  gap: .5rem;
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerLinks{
   display: flex;
   font-size: 1rem;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.credentials{
   display: flex;
   color: var(--secondary-color);
   align-items: center;
   justify-content: center;
   font-size: .8rem;
   font-weight: 400;
   gap: 1rem;
   margin: 0;
}

.icon{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary-color);
   color: #fff;
   padding: 5px;
   border-radius: 50%;
}

.icon:hover{
   color: rgb(57, 214, 241);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

@media (max-width: 650px) {
   .footerContent {
      flex-direction: column;
    }
    
    .credentials{
       flex-direction: column;
       gap: 0;
    }
    
}